/* ----------------General---------------- */

html {
  font-weight: normal;
  font-family: "Bevan";
  font-family: "sans-serif";
  line-height: 1.5;
  background-color: #c9b5ab;
}

/* ----------------Body---------------- */
