/* ----------------General---------------- */

html {
  font-family: Bevan, sans-serif;
  line-height: 1.5;
  background-color: #c9b5ab;
  box-sizing: border-box;
}

/* ----------------Body---------------- */

a {
  text-decoration: none;
  color: #fff
}

.header {
  display: block;
  margin:
  color: #79756f
}

.header h1 {
  text-align: center;
  colour: #fff;
}

.introduction {
  display: inline-block;
  margin: 0 .3em 1em;
  max-width: 20em;
  padding: 1em;
  background-color: #713837;
  border-radius: 10px;
  text-align: center;
}

nav {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

nav a:hover {
  background-color: #f33
  color: #fff
  text-decoration: none;
}

header ul {
  color: #fff;
}

.terrestrial {
  display: inline-block;
  margin: 0 .3em 1em;
  max-width: 20em;
  padding: 1em;
  background-color: #713837;
  border-radius: 10px;
  text-align: center;
}

.mars {
  display: inline-block;
  margin: 0 .3em 1em;
  max-width: 20em;
  padding: 1em;
  background-color: #713837;
  border-radius: 10px;
  text-align: center;
}

.venus {
  display: inline-block;
  margin: 0 .3em 1em;
  max-width: 20em;
  padding: 1em;
  background-color: #713837;
  border-radius: 10px;
  text-align: center;
}

body {
  display: block;
  padding: 0;
  margin: 0;
  background-color: #79756f;
  border-color: #595652;
  border-width: medium;
  border-style: bold;
}
