/* ----------------General---------------- */

html {
  font-weight: normal;
  font-family: Bevan;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #c9b5ab;
  box-sizing: border-box;
}

/* ----------------Body---------------- */

div {
  margin: .3em;
  padding: .6em .5em .75em;
}

h1, h2, h3, h4 {
  color: #fff;
  font-family: sans-serif;
}

nav ol {
  list-style-type: none;
}
